// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #20B9C7;
$darker-blue: #20A9B8;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$purple: #CE6FE6;
