<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-signhow-right hidden-xs hidden-sm">
  <div class="footer-1">
    <%= image_tag "Logo.svg", height: 50 %>
    <p>&copy 2018 SignHow.</p>
    <p>Trademarks and brands are the property of their respective owners.</p>
  </div>

  <div class="footer-2">
    <p>9,024,448 community members | 2,459,792 signs</p>
    <div class="footer-links">
      <a href="https://www.facebook.com/signhowco" target ="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/signhowco" target ="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/signhow" target ="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/13717021/" target ="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="mailto:www.startupdeaf@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>
