<br>
<h4 class="discover-title">New Signs for Tomorrow</h4>
<br>
<h5>SignHow is the first global sign language dictionary created by the community for the community. You can add common signs and phrases used in your community. You can do this anywhere and anytime. The power is in your hands.
<br>
<br>
SignHow is a <strong>community sign dictionary</strong> so some signs may not be official but are used in different communities around the world. This dictionary is useful in almost every situation:
</h5>
