<br>
<br>
<div class="wrapper-about">
  <h3 class="discover-title-about"><strong>New Signs for Tomorrow</strong></h3>
  <br>
  <br>
  <h5-about>SignHow is the first global sign language dictionary created by the community for the community. You can add common signs and phrases used in your community. You can do this anywhere and anytime. The power is in your hands.
    <br>
    <br>
    SignHow is a <strong>community sign dictionary</strong> so some signs may not be official but are used in different communities around the world. This dictionary is useful in almost every situation:
  </h5-about>
  <br>
  <br>
  <br>
</div>

<div class="conatainer">
  <div class="row">
  <div class="cols-about">
    <div class="col-about" ontouchstart="this.classList.toggle('hover');">
      <div class="container-about">
        <div class="front" style="background-image: url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b331ff8cb0fb9a6be61c789d017001f7&auto=format&fit=crop&w=800&q=60)">
          <div class="inner">
            <p>Education</p>
            <span>
              <ul>Students & Peers</ul>
              <ul>Teachers</ul>
              <ul>University staff</ul>
              <ul>Interpreters</ul>
              <ul>Families</ul>
            </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Add signs useful for your education: Art, English, Biology, Drama, History, Maths, Science - signs can be specific and complex or simple and generic.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-about" ontouchstart="this.classList.toggle('hover');">
      <div class="container-about">
        <div class="front" style="background-image: url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59f17a21ae8a708059646146af380320&auto=format&fit=crop&w=800&q=60)">
          <div class="inner">
            <p>Workplace</p>
            <span>
              <ul>Employers</ul>
              <ul>Colleagues</ul>
              <ul>Interpreters</ul>
              <ul>Employees</ul>
              <ul>Volunteers</ul>
            </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Workplace jargon is a whole language in itself!
              Whether you work in banking, law, medicine or your own business - add signs that you use among your work friends and colleagues.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-about" ontouchstart="this.classList.toggle('hover');">
      <div class="container-about">
        <div class="front" style="background-image: url(https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-0.3.5&s=de76103bf709dec71c28a02137478117&auto=format&fit=crop&w=800&q=60)">
          <div class="inner">
            <p>Social</p>
            <span>
              <ul>Families</ul>
              <ul>Loved ones</ul>
              <ul>Friends & new friends</ul>
              <ul>Not friends</ul>
            </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Family is important. Friends are important. But what is the point if communication is non-existent?
              Add your jokes, phrases and comments that are beautiful, wild and wonderfully weird.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="conatainer">
  <div class="row">
  <div class="cols-about">
    <div class="col-about" ontouchstart="this.classList.toggle('hover');">
      <div class="container-about">
        <div class="front" style="background-image: url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b331ff8cb0fb9a6be61c789d017001f7&auto=format&fit=crop&w=800&q=60)">
          <div class="inner">
            <p>Travel</p>
            <span>
              <ul>Travellers</ul>
              <ul>Students & Teachers</ul>
              <ul>Interpreters</ul>
              <ul>Businesses</ul>
            </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Add signs useful for your education: Art, English, Biology, Drama, History, Maths, Science - signs can be specific and complex or simple and generic.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-about" ontouchstart="this.classList.toggle('hover');">
      <div class="container-about">
        <div class="front" style="background-image: url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59f17a21ae8a708059646146af380320&auto=format&fit=crop&w=800&q=60)">
          <div class="inner">
            <p>Services</p>
            <span>
              <ul>Recruiters</ul>
              <ul>Employers</ul>
              <ul>Government</ul>
              <ul>Volunteers</ul>
              <ul>Interpreters</ul>
            </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Workplace jargon is a whole language in itself!
              Whether you work in banking, law, medicine or your own business - add signs that you use among your work friends and colleagues.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-about" ontouchstart="this.classList.toggle('hover');">
      <div class="container-about">
        <div class="front" style="background-image: url(https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-0.3.5&s=de76103bf709dec71c28a02137478117&auto=format&fit=crop&w=800&q=60)">
          <div class="inner">
            <p>Everyone</p>
            <span>
              <ul>Everyone!</ul>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Use SignHow for personal use. Use SignHow for work. Use SignHow to travel. Use SignHow to get social. Use Signhow... oh f*ck it; just use it however you please!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<br>
<br>
<br>

<div class="banner-about" style="background-image: linear-gradient(-225deg, RGBA(56, 185, 197, 0.8) 50%, RGBA(204, 119, 226, 0.8) 50%),url('https://images.unsplash.com/photo-1493851449704-07ee5725d916?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2201f7a90289ef05567fc836dcba456d&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h3>Our Story</h3>
    <br>
    <br>
    <h5 class="about-h5">While there are 230 million deaf people worldwide, 70 million use sign language as their primary language and communication. However…

      70% are uneducated.

      That’s 50 million deaf people without an education… or a voice.

      This is why SignHow was created, to change the story of deaf people forever.
    </h5>
  </div>
</div>

<br>
<br>

<br>
<br>
<div class="wrapper-about">
  <h4 class="discover-title-about"><strong>The Founders</strong></h4>
  <br>
  <h5-about>Nikhil Bora and Sophie Li are the creators and co-founders of this community sign dictionary. Both co-founders are born profoundly deaf and are fluent in Auslan (Australian Sign Language).</h5-about>
  <br>
  <br>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Founder</h3>

    </div>
    <div class="message-body">
      <p><strong>Sophie Li</strong></p>
      <p>
        Sophie Li is highly experienced in online media and project management, and is passionate about advancing the deaf community. She has worked various deaf organisations over the last five years before venturing into entrepreneurship and has not looked back.
        <br>
        <br>
        <a href="https://www.linkedin.com/in/sophiecli/" target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Founder</h3>

    </div>
    <div class="message-body">
      <p><strong>Nikhil Bora</strong></p>
      <p>
        Nikhil Bora is a senior digital designer, where he designs and directs the digital product innovation. He is learning about Virtual Reality (VR) and believes VR is the future, helping millions of hearing and deaf people worldwide to understand different cultures and communities better.
        <br>
        <br>
        <a href="https://www.linkedin.com/in/nbora/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>
  <br>
  <br>
  <br>


  <h4 class="discover-title-about"><strong>Tech Team</strong></h4>
  <br>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Lead-dev</h3>
    </div>
    <div class="message-body">
      <p><strong>Lucas Porter-Bakker</strong></p>
      <p>
        Sophie Li is highly experienced in online media and project management, and is passionate about advancing the deaf community.
        <br>
        <br>
        <a href="https://github.com/lucasporterbakker"  target ="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/lucasporterbakker/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Front-UI</h3>
    </div>
    <div class="message-body">
      <p><strong>Jane Wong</strong></p>
      <p>
        Nikhil Bora is a senior digital designer, where he designs and directs the digital product innovation.
        <br>
        <br>
        <a href="https://github.com/jwly"  target ="_blank"><i class="fa fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Front-UX</h3>
    </div>
    <div class="message-body">
      <p><strong>Trey Booth</strong></p>
      <p>
        Sophie Li is highly experienced in online media and project management, and is passionate about advancing the deaf community.
        <br>
        <br>
        <a href="https://github.com/tbooth9" target ="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/trey-booth-b8616959/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>

      </p>
    </div>
  </div>
  <br>
  <br>
  <br>


  <h6 class="discover-title-about-h5"><strong>Tech Team</strong></h6>

  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Lead-dev</h3>
    </div>
    <div class="message-body">
      <p><strong>Lucas Porter-Bakker</strong></p>
      <p>
        Sophie Li is highly experienced in online media and project management, and is passionate about advancing the deaf community.
        <br>
        <br>
        <a href="https://github.com/lucasporterbakker"  target ="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/lucasporterbakker/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Front-UI</h3>
    </div>
    <div class="message-body">
      <p><strong>Jane Wong</strong></p>
      <p>
        Nikhil Bora is a senior digital designer, where he designs and directs the digital product innovation.
        <br>
        <br>
        <a href="https://github.com/jwly"  target ="_blank"><i class="fa fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Front-UX</h3>
    </div>
    <div class="message-body">
      <p><strong>Trey Booth</strong></p>
      <p>
        Sophie Li is highly experienced in online media and project management, and is passionate about advancing the deaf community.
        <br>
        <br>
        <a href="https://github.com/tbooth9" target ="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/trey-booth-b8616959/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>

  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Back-end</h3>
    </div>
    <div class="message-body">
      <p><strong>Martin Tannenberger</strong></p>
      <p>
        Sophie Li is highly experienced in online media and project management, and is passionate about advancing the deaf community.
        <br>
        <br>
        <a href="https://github.com/puk167"  target ="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/martin-tannenberger-8b4499125/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>
<br>
<br>
<h6 class="discover-title-about-h5"><strong>Special thanks to:</strong></h6>
<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Lead-dev</h3>
  </div>
  <div class="message-body">
    <p><strong>Dounan Hu</strong></p>
    <p>
      Originally from Shanghai, Dounan studied Physics & Astronomy to get an M.S at the University of Cambridge in 2005. Involved in programming since the age of 16, he lived in the USA to conduct university-level projects of algorithms and serve the research of Astronomy. He also got involved in numerous social & nonprofit activities from NY to Brazil. By 2010 Dounan went ahead to become a tech consultant for the startups in the Bay area and in China, where he joined Aihehuo.com as CTO in 2015. With Le Wagon Dounan shares his passion of social enterprises & software architecture to the next generation of makers.
      <br>
      <br>
      <a href="https://github.com/lucasporterbakker"  target ="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/lucasporterbakker/"  target ="_blank"><i class="fa fa-linkedin"></i></a>
    </p>
  </div>
</div>
</div>

</div>
<br>
<br>
<br>
