<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1493851449704-07ee5725d916?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2201f7a90289ef05567fc836dcba456d&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h2>Welcome to the Global Sign Language Dictionary</h2>
    <p>200,000 Signs | 300+ Sign Languages | 40 Countries | 1.2 Million Users</p>
        </div>
      </div>
    </div>
  </div>
