<br>
<br>
  <div class="wrapper-about">
    <h3 class="discover-title-about"><strong>Using SignHow is Easy</strong></h3>
<br>
<br>
<h5-about>Watch the video to learn how to search and add signs on SignHow... or see the instruction cards below. Enjoy!
  <br>
</h5-about>
<br>
<br>
  <div class="banner-about" style="background-image: linear-gradient(-225deg, RGBA(28, 28, 28, .60) 50%, RGBA(28, 28, 28, .60) 50%),url('https://images.unsplash.com/photo-1493851449704-07ee5725d916?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2201f7a90289ef05567fc836dcba456d&auto=format&fit=crop&w=800&q=60');">
    <div class="banner-content">
      <h3 class="how-it-works-h3">How to use SignHow
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
</div>
