<br>
<br>
<div class="wrapper-about">
  <h3 class="discover-title-about"><strong>Using SignHow is Easy</strong></h3>
  <br>
  <br>
  <h5-about>Watch the video to learn how to search and add signs on SignHow... or see the instruction cards below. Enjoy!
    <br>
  </h5-about>
  <br>
    <%= video_tag("http://res.cloudinary.com/donw16xff/video/upload/v1524652904/how_it_works.mp4", autoplay: true, size: '800x580', controls: true) %>
    <!-- <div class="banner-content">
      <h3 class="how-it-works-h3">How to use SignHow
      <br>
      <br>
    </div> -->
    <br>
    <br>
</div>
