.tabs {
  background: $blue;
  display: flex;
  margin: 20px 60px;
}

.tab-content {
  margin: 0px 60px;
  height: 100%;
}

.tabs a {
  color: white;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.tabs p {

  margin-bottom: 0;
}

.tab {
  background: $blue;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  color: $blue;
}

// .tab:first-child {
//   border-radius: 10px 0 0 0;
// }

// .tab:last-child {
//   border-radius: 0 10px 0 0;
// }

.tab.active {
  background: white;
  color: black;
  border: solid;
  border-color: $blue;
}




.tab-pane fade in active {
  height: 100vh;
}

.profile-row {
  justify-content: center;
  background-color: white;
  padding: 50px;
  line-height: 50px;
  position: relative;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

}

.my-cards-edit-delete {
  margin-left: 20px;
}

.dashboard-avatar {
  height: 150px;
  border: 2px;
  width: 150px;
  border-radius: 50%;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.back-dashboard-cards{
  background: #38B9C5;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #CC77E2);
  background: linear-gradient(45deg,  #38B9C5);
}


@media screen and (max-width: 600px) {
  .content-centre-profile-tab {
    font-size: 12px;
  }
}
