.footer-signhow-right {

}

.footer-1 {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0px 95px;
  color: #686868;
  background: white;
  width: 100%;
}

.footer-1 p{
  font-size: 12px;
  margin: 0px 0px 0px 30px;
}

.footer-2 {
  display: flex;
  align-items: center;
  padding: 0px 95px;
  color: white;
  background: $blue;
  height: 50px;
}

.footer-2 p {
  font-size: 12px;
  position: absolute;
  left: 94px;
}


.footer-links {
  position: absolute;
  right: 94px;
  font-size: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
