.container-info {
  // float: right;
  // width: 59%;
  // height: 100%;

  background-color: white;
  margin-top: 15px;
  padding: 15px;
  border: 2px;
  border-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.container-big-card {
  float: left;
  width: 40%;
}

.embed-bar {
  margin-top: 20px;
}

section {
  width: 100%;
}


.info-content {
  margin-left: 20px;
  font-size: 14px;
  font-weight:bold;

}

.container-icons {
  padding-left: 20px;
  padding-top: 20px;

}

.container-sign-options {

  margin-top: 30px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.embed-info {
  margin-left: 20px;
  font-size: 14px;
  font-weight:bold;
  padding-top: 40px;
}

.btn-white {
  background-color: white;
  color: $blue;
  padding: 10px 28px;
  border: 1px solid $blue;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 15px;
  margin: 5px;
}

.btn-white:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-blue {
  background-color: $blue;
  color: white;
  padding: 10px 28px;
  border: 1px solid $blue;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 15px;
  margin: 5px;
}

.btn-blue:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-purple {
  background-color: $purple;
  color: white;
  padding: 10px 28px;
  border: 1px solid;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 15px;
  margin: 5px;

}

.btn-purple:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-delete {
  background-color: red;
  color: white;
  padding: 10px 28px;
  border: 1px solid;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 15px;
  margin: 5px;

}

.btn-delete:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-favorite {
  background-color: $purple;
  color: white;
  padding: 10px 28px;
  border: 1px solid;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 15px;
  margin: 5px;


}

.btn-favorite:hover {
  opacity: 1;
  text-decoration: none;
}
