.login-container {
  height: 80vh;
}

.login-row h2 {
  font-size: 22px;
  text-align: center;
  color: $blue;
  font-weight: bold;
  margin-top: 46px;
  margin-bottom: 46px;
}

.login-row .login-page {
  border: 1px solid white;
  margin-left: -50px;
  margin-right: -40px;
  background: white;
  // margin-bottom: 50px
}

.login-page .form-actions .btn{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 32px;
  background-color: $purple;
  color: white;
  padding: 10px 152px;
  border-radius: 5px;
  width: 100%;
}

.login-page .form-actions {
  display: flex;
  text-align: center;
  justify-content: center;
}


.login-page .fb {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 26px;
  background-color: #4267b2;
  padding: 10px 48px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.login-page .form-inputs {
  border-top: 1px solid #dfdfdf;
}

.login-page {
  background-color: $blue;
  color: $blue;
  padding: 10px 32px;
  border: 1px solid $blue;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 15px;
}

.login-page:hover {
  opacity: 1;
  text-decoration: none;
}
