.newgifs {
  margin-top: 46px;
  margin-bottom: 46px;
}

.newgifs-row h4 {
  text-align: center;
  color: $blue;
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 26px;
}

.newgifs-row .newgifs {
  border: 1px solid white;
  margin-left: -10px;
  margin-right: -10px;
  background: white;
}

.newgifs .form-inputs {
  margin: 50px 40px;
  color: $blue;
}

.newgifs .form-actions .btn {
  background: $purple;
  color: white;
  display: flex;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

#dropbox {
  position:relative;
  min-height: 200px;
  border:2px dashed gray;
  background:white;
  margin-top: 25px;
  background-image: url('https://image.flaticon.com/icons/svg/337/337936.svg');
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#dropbox img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#dropbox::before {
  position: absolute;
  top: 30px;
  right: 132px;
  // display: flex;
  text-align: center;
  font-size:14px;
  color: gray;
}

.preview {
  display:inline-block;
  width:100px;
  height:auto;
  margin:0 15px 15px;
}

.form-control::placeholder{
  color:#ccc;
}




