.newgifs-row h4 {
  text-align: center;
  color: $blue;
  margin-top: 46px;
  margin-bottom: 40px;
}

.newgifs-row .newgifs {
  border: 1px solid white;
  margin-left: -70px;
  margin-right: -70px;
  background: white;
}

.newgifs .form-inputs {
  margin: 50px 40px;
  font-size: 14px;
}

.newgifs .form-actions .btn {
  background: $purple;
  color: white;
  font-size: 14px;
  padding: 10px 80px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#dropbox {
  position:relative;
  height:100%;
  border:2px dashed gray;
  background:white;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

#dropbox img {
  width: 70px;
  // margin: 100px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;

}

#dropbox::before {
  content:"or drag and drop here";
  position: absolute;
  top: 30px;
  right: 130px;
  display: block;
  text-align: center;
  font-size:14px;
  color: gray;
}

.preview {
  display:inline-block;
  width:100px;
  height:auto;
  margin:0 15px 15px;
}
