.search {
  width: 90%;
  margin: auto;
  // position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  border: none;
  overflow: hidden;
  display: flex;
  // transform: translate(-50%, -50%);
}

// .search .search-1,
// .search .search-2 {
//   width: 50%;
// }

.search .search-1 {
  width: 61%;
}

.search .search-2 {
  width: 28%;
  overflow: hidden;
}

.search label {
  display: block;
}

#query_language {
  width: 100%;
  display: block;
  // width: 85%;
  height: 50px;
  font-size: 18px;
  color: gray;
  // margin-left: -40px;
}


.form-control {
  height: 50px;
}

.search-3 input {
  height: 50px;
  width: 50px;
  text: none;
  background: $blue;
  cursor: pointer;
}

.searchbutton {
  height: 50px;
  width: 90px;
  // position: absolute;
  // right: 30px;
  cursor: pointer;
  border: none;
  background: $blue;
  color: white;
}



