.search {
  width: auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  border: none;
  overflow: hidden;
  display: flex;
  // transform: translate(-50%, -50%);
}

.search .search-1,
.search .search-2 {
  width: 50%;
}

.search .search-1 {
  float: left;
}

.search .search-2 {
  float: right;
}

.search label {
  display: block;
}

#query_language {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: gray;
}


.form-control {
  height: 50px;
}

.search-3 input {
  height: 50px;
  width: 50px;
  text: none;
  background: $blue;
  cursor: pointer;
}

.searchbutton {
  height: 50px;
  width: 90px;
  margin-right: 0px;
  position: absolute;
  right: -2px;
  cursor: pointer;
  border: none;
  background: $blue;
  color: white;
}



