.search {
  width: 90%;
  margin: auto;
  // position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  border: none;
  overflow: hidden;
  display: flex;
}

// .search .search-1,
// .search .search-2 {
//   width: 50%;
// }

.search .search-1 {
  width: 49%;
}

.search .search-2 {
  width: 50%;
  overflow: hidden;
  // border-radius: 20px;
  margin-left: -1px;
}

.search label {
  display: block;
}

#query_language {
  width: 101%;
  display: block;
  // width: 85%;
  height: 50px;
  font-size: 18px;
  color: gray;
  // margin-left: -40px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  padding: 0 10px;
  border-color: #ccc;
}


.search .form-control {
  height: 50px;
  border-radius: 0px!important;
}

.search-3 input {
  height: 50px;
  width: 50px;
  text: none;
  background: $blue;
  cursor: pointer;
}

.searchbutton {
  height: 50px;
  width: 90px;
  // position: absolute;
  // right: 30px;
  cursor: pointer;
  border: none;
  background: $blue;
  color: white;
}



