.title {
  text-align: center;
  color: $blue;
  margin-top: 46px;
  margin-bottom: 46px;
  height: 100%;
}

.row .signup {
  border: 1px solid white;
  margin-left: -90px;
  margin-right: -90px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.form-inputs {
  margin: 25px 35px;
}

legend {
  font-size: 16px;
  border-bottom: none;
  color: $blue;
  font-weight: bold;
}

.signup .form-actions {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-bottom: 40px;
}

.signup .form-actions .btn {
  background: $purple;
  color: white;
  // font-size: 18px;
  padding: 10px 190px;
  border-radius: 5px;
}

.multi-links {
  margin: 30px
}

.signup .fb {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  background-color: #4267b2;
  padding: 12px 48px;
  color: white;
  // font-size: 18px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  // width: 60%;
  margin-left: 40px;
  margin-right: 40px;
}

.new {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  background-color: $purple;
  padding: 10px 48px;
  color: white;
  // font-size: 18px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 60%;
}

.login-page .form-actions .btn{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 32px;
  background-color: $purple;
  color: white;
  padding: 10px 152px;
  border-radius: 5px;
  // width: 100%;
}


.or h3{
  font-size: 20px;
  text-align: center;
  color: black
}

.signup .form-size {
  margin-bottom: 30px;
}




