.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px;
    border-color: gray;
    background-color: white;
    margin-bottom: 40px;
    position: relative;
    color: black;
    padding-bottom: 15px;
}

.card-link{
  text-decoration: none;
}
.card-link:hover{
  text-decoration: none;
}
.card-description {
  height: 150px;
  width: 100%;
}

.card-description {
  height: 150px;
  width: 100%;
}

.word {
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
    color: black;
    margin-top: 18px;
}

.language {
    font-size: 16px;
    font-weight: lighter;
    margin-left: 30px;
    color: black;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tag {
    color: $blue;
    margin-left: 30px;
    margin-top: 15px;
    display: inline;
    font-size: 16px;
    border: 1px solid $blue;
    border-radius: 5px;
    padding: 4px 4px
}

.gif {
    width: 100%;
    height: 240px;
    object-fit: cover;

}

.upvotes-sm {
  margin-left: 5px;
  margin-bottom: 8px;
  position: relative;





}

.downvotes-sm {
  margin-left: 5px;
  position: relative;



}



.container-cards {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.votes {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.votes i {
    font-size: 20px;
}

.card-info-container {
  position: relative;
  height: 135px;
}

